.field-form{
    margin: 0.5rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



.btn-secondary, .btn-info{
    display: block;
    margin: 1rem auto;
    width: 50%;
}