<div class="form-container vw-100 vh-100 d-flex">
  <form
    class="border rounded-3 h-50 bg-orange-100 border-primary p-3 m-auto d-flex flex-column justify-content-center align-items-center gap-2"
    action=""
    [formGroup]="adminForm"
  >
    <p class="text-white p-2 bg-danger">
      Only an admin can log in use 'yossef&#64;example.com'
    </p>
    <h2 class="rounded-3 form-header text-secondary w-100 text-center">
      {{ "log-in" | translate }}
    </h2>
    <mat-form-field class="field-form-email mb-5" [color]="'primary'">
      <mat-label>{{ "email" | translate }}</mat-label>
      <input
        matInput
        formControlName="email"
        placeholder="Ex. pat@example.com"
        type="email"
      />
      <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
      @if (!adminForm.get('email')!.valid && adminForm.get('email')!.touched) {
      <mat-error class="h6"
        >{{ "validated-email" | translate }}
        <strong>{{ "bold-valid" | translate }}</strong></mat-error
      >
      }
    </mat-form-field>

    <button class="btn btn-secondary" (click)="logFormData()">
      {{ "log-in" | translate }}
    </button>
  </form>
</div>
