<div class="form-container  vw-100 vh-100 d-flex">
  <p class="text-muted position-fixed p-1">Only an admin can log in use 'yossef&#64;example.com'</p>
<form class=" border rounded-3 border-primary p-3 m-auto d-flex flex-column justify-content-center align-items-center width-fit-content gap-2" action="" [formGroup]="userForm" >
  <h4 class=" rounded-3 form-header bg-primary text-secondary p-1 w-100 text-center">{{"log-in" | translate}}</h4>
    <mat-form-field class="field-form-email"  [color]="'primary'">
        <mat-label>{{"email" | translate}}</mat-label>
        <input matInput formControlName="email" placeholder="Ex. pat@example.com" type="email"  [errorStateMatcher]="matcher" >
        <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
        @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
          <mat-error>{{"validated-email" | translate}} <strong>{{"bold-valid" | translate}}</strong></mat-error>
        }
        @if (emailFormControl.hasError('required')) {
          <mat-error>{{"required-email" | translate}} <strong>{{"bold-required" | translate}}</strong></mat-error>
        }
    </mat-form-field>
  
    <button  class="btn btn-secondary" (click)="logFormData()" >{{"log-in" | translate}}</button>
  </form>
</div>