<table class="table mb-0 table-hover table-borderless">
  <thead class="table-dark">
    <tr>
      <th scope="col">
        <input
          [(ngModel)]="isCheckboxChecked"
          class="form-check-input"
          type="checkbox"
          id="check1"
          name="option1"
          value="something"
          placeholder="something"
        />
      </th>
      <th scope="col">
        {{ "full-name" | translate }}
        <button class="btn-arrange" (click)="setSortKey('fullName')">
          <img src="assets/arrange.svg" alt="arrange" />
        </button>
      </th>
      <th scope="col">
        {{ "email" | translate }}
        <button class="btn-arrange" (click)="setSortKey('email')">
          <img src="assets/arrange.svg" alt="arrange" />
        </button>
      </th>
      <th scope="col">
        {{ "location" | translate }}
        <button class="btn-arrange" (click)="setSortKey('city')">
          <img src="assets/arrange.svg" alt="arrange" />
        </button>
      </th>
      <th scope="col">
        {{ "joined" | translate }}
        <button class="btn-arrange" (click)="setSortKey('joined')">
          <img src="assets/arrange.svg" alt="arrange" />
        </button>
      </th>
      <th scope="col" class="text-secondary">
        {{ "permissions" | translate }}
        <button class="btn-arrange" (click)="setSortKey('permissions')">
          <img src="assets/arrange.svg" alt="arrange" />
        </button>
      </th>
      <th scope="col" class="th-calender text-center">
        <img
          src="assets/calender.svg"
          class="calender-svg"
          style="height: 20px"
          alt=""
        />
      </th>
    </tr>
  </thead>

  <tbody class="table-light">
    @for (viewerInfo of this.searchService.filteredViewerList; track $index) {
    <tr [appHighlight]="'16px'">
      <!-- <th>{{viewerInfo.id}}</th> -->
      <td>
        <input
          [(ngModel)]="viewerInfo.checked"
          class="form-check-input"
          type="checkbox"
          id="check1"
          name="option1"
          value="something"
          placeholder="something"
        />
      </td>

      <td class="name-image">
        <img [src]="viewerInfo?.photo" class="profile-picture" alt="" />
        <span> {{ viewerInfo?.fullName }}</span>
      </td>
      <td>{{ viewerInfo?.email }}</td>
      <td>
        <span>
          <img style="height: 12px" src="assets/location.svg" alt="#"
        /></span>
        {{ viewerInfo?.city }}, {{ viewerInfo?.state }}
      </td>
      <td>{{ viewerInfo?.joined }}</td>
      <td class="permissions">
        <span [class]="viewerInfo?.permissions">
          {{ viewerInfo?.permissions }}
        </span>
      </td>
      <td class="td-calender text-center">
        <span *ngIf="!viewerInfo.checked"
          ><img src="assets/ellipsis.svg" *ngIf="!isCheckboxChecked" alt="..."
        /></span>
        <button
          *ngIf="viewerInfo.checked || isCheckboxChecked"
          (click)="openDialog('EDIT', viewerInfo.id)"
          class="btn btn-info"
        >
          {{ "edit-btn" | translate }}
        </button>
        <button
          *ngIf="viewerInfo.checked || isCheckboxChecked"
          (click)="deleteUser(viewerInfo.id)"
          class="btn btn-danger"
        >
          {{ "delete-btn" | translate }}
        </button>
      </td>
    </tr>
    }
  </tbody>
</table>
