

.user-management-Z7n{
    background: radial-gradient(187.73% 138.84% at 42.15% -6.74%,var(--light-gray) 0% , var(--mid-gray) 5%, var(--dark-gray) 40%);
    backdrop-filter: blur(21.5px);
    -webkit-backdrop-filter: blur(21.5px);

}
